@layout Layout.HomepageLayout

@page "/home"
@page "/"
@rendermode InteractiveServer

@* @inject IJSRuntime JS *@

@* <button @onclick="IncrementCount">Click Me to Show Alert</button> *@

<div id="" class="info-container">
    <label>@welcomeName</label>
    <p class="text" id="typewriter">@descriptions</p>
</div>

<div class="info-container">
    <img src="Gallery/Homepage/Content/sen.jpg" />
</div>

