@inherits LayoutComponentBase

<header>
    <img src="Gallery/Homepage/NavbarIcons/github.svg" />
    <NavLink href="/home">Home</NavLink>
    <NavLink href="/about-me">About</NavLink>
    <NavLink>Projects</NavLink>
    <NavLink id="facebook-link" title="Facebook Account" href="https://www.facebook.com/aj.sen.777/"></NavLink>
    <NavLink id="github-link" title="Github Account" href="https://github.com/Zheng47"></NavLink>
</header>

<div class="homepage-container">
    @Body
</div>