@inherits LayoutComponentBase

<header>
    <img src="Gallery/Homepage/NavbarIcons/github.svg" />
    <NavLink href="/about-me">About</NavLink>
    <NavLink href="/home">Home</NavLink>
    <NavLink>Settings</NavLink>
    <NavLink id="facebook-link" href="https://www.facebook.com/aj.sen.777/"></NavLink>
</header>

<div class="homepage-container">
    @Body
</div>