@layout Layout.HomepageLayout

@page "/achievements"
@rendermode InteractiveServer


<div class="image-container">
    <div class="scroller">
        <img class="img" src="Gallery/Achievements/certificate1.jpg" />
        <img class="img" src="Gallery/Achievements/certificate2.jpg" />
        <img class="img" src="Gallery/Achievements/certificate1.jpg" />
    </div>
</div>